/* header 디자인 */
.custom-header{
    /* 헤더가 따라다니도록 */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    z-index: 20;
}
.custom-header .navbar{
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}
.custom-header .navbar-inverse{
    background-color: #282A35;
}
/* .active 클래스 하위 a태그  */
.custom-header .navbar-inverse .navbar-nav > .active > a{
background-color: #464852;
}
.custom-header .navbar-inverse .navbar-nav > li > a:hover,
.custom-header .navbar-inverse .navbar-nav > li > a:focus{
    background-color: #464852;
}
.custom-header .navbar-inverse .navbar-nav > li > a{
    color: #fff;
}
.custom-header .navbar-inverse .navbar-brand > img{
    width: 30px;
}
.custom-header .navbar-inverse .navbar-brand{
    padding: 10px 20px;
}






/* footer 스타일 */
footer{
    background-color: #282A35;
    margin-top: 50px;
}
footer .copyright{
    color: #fff;
    padding: 30px 0; /*위아래 좌우*/
}
footer address{
    margin: 0;
}
footer .footer-menu{
    overflow: hidden;
    padding: 30px 0;
}
footer .footer-menu .copyright-menu{
    float: right;
}
footer .footer-menu .copyright-menu li{
    display: inline-block;
    padding: 0 10px;
}
footer .footer-menu .copyright-menu li a{
    color: #fff;
} 



/* 슬라이드 영역 */
.slide-list{
    padding: 0;
}
.carousel-control.right{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, 0) 100%);
}
.carousel-control.left{
    background-image: linear-gradient(to left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, 0) 100%);
}



/* 섹션 영역 */
.prod-list, .prod-link{
    border: 1px solid #777;
    display: block;
    text-align: center;
}
/* col 클래스들은 패딩좌우 15를 가지고 있음 */
.prod-list, .prod-inner{
    padding: 5px;
}
.prod-link{position: relative;}
.prod-link .arrow{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ccc;
    color: #fff;
    position: absolute; /*상자 기반으로 위치하도록, 부모.prod-link에 포지션 relative 준다.*/
    left: 15px;
    bottom: 15px;
    opacity: 1;
}
.prod-link .hover{
    width: 100px ;
    background-color: #4285f4;
    /* 투명도: 1은 보이고, 0은 안보임 */
    opacity: 0;
}
/* a호버시 윤곽 */
.prod-link:hover{
    border: 1px solid #4285f4;
}
/* a에 호버 들어갔을 때 하위의 .arrow를 숨김  */
.prod-link:hover > .arrow {
    opacity: 0;
}
/* a에 호버 들어갔을 때 .hover를 보이게  */
.prod-link:hover > .hover {
    opacity: 1;
}



.blog-inner {
    border: 1px solid #777;
    padding: 10px;
}
.blog-inner .blog-content > p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
}
.blog-inner .blog-content .blog-info ul {
    overflow: hidden;
}
.blog-inner .blog-content .blog-info ul li{
    float: left;
}
.blog-inner .blog-content .blog-info strong {
    float: right;
}
.blog-inner{
    position: relative;
    
}
.blog-inner .blog-hover-content{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 20px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0;
}
.blog-inner:hover .blog-hover-content{
    opacity: 0.8;
    background-color: #232323;
    padding: 8px;
    text-align: center;
}
.blog-inner:hover .blog-hover-content a{
    opacity: 0.8;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    
}







/*====================================================================  */
/* 블로그 스타일 */
/* 임시적으로 사이즈 변경  */
/* .col-lg-2를 변경하면 모든 .col-lg-2가 변경 */
@media(min-width: 1200px){
    .blog .col-lg-2{
        width: 20%;
    }
}
.blog-inner{
    border: solid #ddd;
    position: relative;
}
.blog-inner .blog-content{
    padding: 15px 12px;
}
.blog-inner .blog-img{
    text-align: center; /*이미지 가운데로*/
}
.blog-content > p{
    font-size: 13px;
    font-weight: bold;
    height: 60px;
    text-overflow: ellipsis;
    text-align: center;
}
.blog-info{
    overflow: hidden;
}
.blog-info ul {
    float: left;
}
.blog-info ul li{
    display: inline-block; /*가로배치*/
    color:salmon;
}
.blog-info strong{
    float: right;
    font-size: 13px;
    font-weight: bold;
}



/* 호버 */
.blog-inner .blog-content-hover{
    position: absolute; /*부모기반으로 올린다. inner에 릴레이티브 준다. */
    left: 0;
    top: 0;
    width: 100%; /*blog-inner에 대해서 전체*/
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 20px;

    /* 숨길거야 */
    opacity: 0;
}
.blog-inner .blog-content-hover a{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.blog-inner:hover .blog-content-hover{
    opacity: 1;
}